/*This file provides styling for the visualization of models*/
/*             GENERAL             */
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    padding: 50px;
    border-bottom: 1px solid #9b9b9b;
}

/*          CONTROL PANEL          */
.simulation-title {
    font-size: 24px;
    padding-right: 5px;
}
.simulation-title {
    font-size: 24px;
    padding-right: 5px;
}

.std-option-title {
    font-size: 20px;
    font-weight: bold;
}

.std-btn {
    background-color: white;
    border-radius: 8px;
    color: black;
    border: 2px solid #272727;
    padding: 10px;
    font-size: 18px;
    outline:0;
    cursor: pointer;
    margin: 5px;
}
.std-btn:hover {
    border-color: #9b9b9b;
}
.std-btn:disabled {
    border-color: #9b9b9b;
    color: #9b9b9b;
    cursor: not-allowed;
}

/*       TRANSITIONS CONTAINER      */
#transitions-container {
    padding-top: 20px;
}
.transition {
    font-size: 24px;
    padding: 10px 20px 10px 0px;
}
.active-transition {
    color: #008001;
    font-weight: bold;
}
#status-container {
    font-size: 18px;
    font-weight: bold;
}
.accepted {
    color: #008001;
}
.danger {
    color: #CD0100;
}
.warning {
    color: #8B8B00;
}

/*              GRAPH               */
.node {
    cursor: pointer;
}
.start-node {
    cursor: default;
}

#error-container{
    font-size: 25px;
    color: red;
    font-weight: bold;
    padding: 0 10px;
}