.\#*
\#*\#
*~
.DS_Store
src/visual/webpage/js/data-source.js
src/visual/webpage/js/temp.js
.DS_Store
node_modules/*
src/model/dfaModel.mc
package-lock.json
src/ocaml-server/_build/*
src/webpage/js/data-source.json